body {
    font-family: sans-serif;
}

.filterPanel {
    padding: 0px 5%;
    text-align: center;
}

.filterPanelSPCP {
    padding: 2em 5% 3em 5%;
    text-align: center;
}

.filterPanel>div,
.filterPanelSPCP>div {
    text-align: center;
    display: inline-block;
}

button#recreatePlot {
    margin-left: 1em;
}

#sliderContainer {
    width: 50%;
    vertical-align: middle;
}

#sliderContainerSPCP {
    width: 70%;
    vertical-align: middle;
}

#loaderText {
    text-align: center;
    text-transform: uppercase;
    margin: 40px;
    color: #4e89bd;
}

.SubHeadingTitleContainer {
    margin-bottom: 40px;
}

.SubHeadingTitle {
    text-align: center;
    text-transform: uppercase;
    color: #577279;
    font-size: 1.1em;
}

.plotTitle {
    margin: 15px auto;
    color: #b94444;
}

#root .mainContainer .matrixMainContainer {
    margin: 40px auto;
    display: block;
}

#root .mainContainer h2,
#root .matrixMainContainer h2 {
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    color: #4e89bd;
}

#root line.changeLine,
#root line.changeLineDouble {
    stroke-width: 3
}

.cloneMarker {
    stroke-width: 3;
    cursor: pointer;
}

text.cloneMarkerText {
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    fill: white;
}

.tooltip,
.tooltip-circularMap {
    background-color: #dcd5d5;
    padding: 10px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bold;
}


/* ///////////////////////////// Style for Circular Map //////////////////////////////// */

#root .circularMainContainer,
#root .mainContainer,
#root .matrixMainContainer,
#root .spcpContainer {
    margin: 0px auto;
    display: block;
}

.legendContainer {
    margin: 40px 12.5%;
    padding: 0.5%;
    border: 3px solid #cec2c2;
}

.globalLegendBox {
    display: inline-block;
    text-align: left;
}

.globalLegend {
    display: inline-block;
    height: 1em;
    width: 2em;
}

.changeLegend {
    display: inline-block;
    border: 0.5em;
    width: 4em;
}

.globalLegendText {
    text-transform: uppercase;
    color: #4e89bd;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 2%;
}

.arcContainer {
    cursor: pointer;
}

.button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 0.5em 1em;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#tab-switch-container>button {
    margin-left: 2%;
    text-transform: uppercase;
    font-size: 1.1em;
}

#tab-switch-container {
    text-align: center;
    margin: 3%;
}

#container .hide {
    display: none;
}

#container .show {
    display: block;
}

#description {
    margin: 2%;
    font-size: 1.2em;
    background: #edeeee;
    padding: 2%;
}

#description a {
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
}

#description li {
    margin-bottom: 1%;
}

.changeArc {
    cursor: pointer;
}

h3.SubHeadingTitle.noCapital {
    text-transform: capitalize;
    font-size: 1.4em;
}

.cloneInfoContainer {
    text-align: center;
}

.cloneInfoContainer>.infoParagraph {
    text-transform: uppercase;
    font-size: 1em;
}

.cloneDescriptionContainer {
    width: 50%;
    display: inline-block;
    text-align: center;
}

h3.descriptionHeader {
    text-align: center;
    text-transform: uppercase;
    color: #577279;
    font-size: 1em;
}

.cloneDescriptionContainer>p {
    font-size: 1em;
    font-weight: bold;
    color: #534b4b;
}

.hiddenMarker {
    pointer-events: none;
}

.changeSubContainer {
    margin-top: 1%;
    border: 0.2em solid #a63a3a;
    padding: 2%;
}

.fragmentContainer {
    margin-top: 2%;
}

.fragmentContainer>p {
    font-size: 0.75em;
    color: #534b4b;
    padding: 0px 1em;
}

.filterPanel>p,
.filterPanelSPCP>p {
    font-size: 1.1em;
}

#spcp-root>p {
    text-align: center;
    font-size: 1.1em;
}

h3.LoadingTitle {
    margin: 5em auto;
    font-size: 1.3em;
}